<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/edit" method="post">
     <input type="hidden" name="id" value="{{prod._id}}">
        Name <input type="text" name="txtName" value="{{prod.name}}">
        <br>
        Price <input type="text" name="txtPrice" value="{{prod.price}}">
        <br>
        Picture URL <input type="text" name="picURL" value="{{prod.picURL}}">
        <br>
        <input type="submit" value="Edit">
        
    </form>
</body>
</html>