<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello bruhh
    </h1>
    {{#each products}}
    <li>
            {{this.name}}-{{this.price}}
        <img src="{{this.picURL}}" alt="" width="120px" height="120px">
        <a href="/delete/{{_id}}">delete</a>
    </li>
        
    {{/each}}
    <a href="/add">Add products</a>
</body>
</html>